* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.main_box {
  background: url("photo.jpg");
  height: 100vh;
  background-size: cover;
}

.btn_one i {
  color: white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar_menu {
  position: fixed;
  left: -350px;

  height: 100%;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  border-radius: 0 10px 10px 0;
  transition: all 0.3s ease;
}

.sidebar_menu .logo {
  width: 100%;
  line-height: 60px;
  position: absolute;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 0 15px 0 0;
  height: 60px;
}

.sidebar_menu .logo a {
  position: absolute;
  left: 50px;
  color: white;
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
}

.sidebar_menu .btn_two i {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 25px;
  color: grey;
  cursor: pointer;
  /* line-height: 60px; */
  opacity: 0;
  transition: all 0.3s ease;
}

.sidebar_menu .menu {
  position: absolute;
  width: 100%;
  top: 80px;
}
.sidebar_menu .menu li {
  margin-top: 4px;
  padding: 13px 20px;
}
.sidebar_menu .menu i,
a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.sidebar_menu .menu i {
  padding-right: 5px;
}
.sidebar_menu .social_media {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}
.sidebar_menu .social_media i {
  padding: 5px;
  opacity: 0.5;
  color: white;
  transition: all 0.3s ease;
}
#check {
  display: none;
}
.sidebar_menu .menu li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn_two i:hover {
  font-size: 30px;

  color: white;
  transform: rotate(180deg);
}
.btn_one i:hover {
  font-size: 40px;
}
.sidebar_menu .social_media i:hover {
  opacity: 1;
  transform: scale(2.5);
  transform: rotate(360deg);
}
#check:checked ~ .sidebar_menu {
  left: 0;
}
#check:checked ~ .btn_one {
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i {
  opacity: 1;
}
